@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body{
    background-color: #0C0E16; 

}

.breadcrumb li + li::before{
    content:"";
}
.container{
    padding : 0;
    /* border: 1px solid red; */
}
.card-content img{
    width :100%;
    height: 100%;
    border-radius: 8px;

}

.card{
    /* width :220px; */
    /* height: 330px; */
    display: inline-block;
    margin: 30px 20px 0px 0px;
    background-color: #0C0E16; 

    /* border: 1px solid red; */
    
}
.card-content{
        width :220px;
        height: 330px;
        padding: 0px 0px;
        /* margin: 20px 20px; */
            /* border: 1px solid red; */



}
.section{

    height: 350px;
    /* border: 1px solid red; */

}
.breadcrumb ol, .breadcrumb ul {
/* border: 1px solid red; */
}
.modal{
    height: 50px;
    border: 1px solid red;

}