@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
*{
    margin: 0 ;
    padding:0 ;
}
:root{
    --background-color: #0F0E17;
    --text-hover:#FED941; 
    --text-input:#A7A9BE;
}
body{
    width: 95%;
    background-color: var(--background-color);
}

.nav-bar{
    width: 100%;
    height: 112px;
    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
    margin-top: 24px;
    /* border: 1px solid white; */

}
.options{
    /* border: 1px solid white; */

}

a{ 
    font-family: 'Inter', sans-serif;   
    margin-left: 48px;
    font-size: 1rem;
    font-weight: 700;
    color:white;
    text-decoration: none;
}
a:hover{
    color :var(--text-hover) ;
    text-decoration-line:underline;  

}
.box-search{
    width: 530px;
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    /* border: 1px solid white; */
}
.box-search button{
    background-color: var(--text-hover);
    width: 72px;
    height: auto;
    border-radius: 0px 8px 8px 0px;
    border:none;

    cursor: pointer;
}
.box-search input{
    width: 458px;
    height: 22px;
    font-size: 1rem;
    color: var(--text-input);
    padding: 11px 0px 11px 12px;
    border-radius: 8px 0px 0px 8px;
    border:none;
    outline:none;
}
